.button {
    width: 100px;
    height: 60px;
    padding: 5px;
    border-radius: 8px;
}

.disabled {
}

.secondary {
}

.default {
}

.red {
    background: red;
    color: white;
}

.default:hover {
}

.red:hover {
}

.secondary:hover {
}


.default:active {
}

.secondary:active {
}

.red:active {
}

.button:disabled {
}
